<header>
    <div class="header-left">
      <h1>フットケアマッサージの教育システム</h1>
    </div>
    <nav class="header-nav">
      <ul>
        <li><a href="/"><i class="fas fa-home"></i><span  class="top-head">ホーム</span></a></li>
        <li><a href="/list"><i class="fas fa-book"></i><span class="list-head">教材一覧</span></a></li>
        <li><a href="#"><i class="fas fa-info-circle"></i><span class="new-head">初めて利用する方へ</span></a></li>
        <li><a href="#"><i class="fas fa-question-circle"></i><span class="question-head">Q&A</span></a></li>
        <li><a href="#"><i class="fas fa-envelope"></i><span class="form-head">お問い合わせ</span></a></li>
      </ul>
    </nav>
    <div class="header-right">
        <a href="/signup"><button class="register-btn">新規登録 </button></a>
        <a href="/login"><button class="login-btn">ログイン </button></a>
        <!--p class="welcome-message">ゲストさんようこそ</p-->
    </div>
  </header>