<header>
    <div class="header-left">
      <h1>フットケアマッサージの教育システム</h1>
    </div>
    <nav class="header-nav">
      <ul>
        <li><a href="#"><i class="fas fa-home"></i><span>ホーム</span></a></li>
        <li><a href="#"><i class="fas fa-book"></i><span>教材一覧</span></a></li>
        <li><a href="#"><i class="fas fa-info-circle"></i><span>初めて利用する方へ</span></a></li>
        <li><a href="#"><i class="fas fa-question-circle"></i><span>Q&A</span></a></li>
        <li><a href="#"><i class="fas fa-envelope"></i><span>お問い合わせ</span></a></li>
      </ul>
    </nav>
    <div class="header-right">
        <button class="register-btn">新規登録 </button>
        <button class="login-btn">ログイン </button>
        <!--p class="welcome-message">ゲストさんようこそ</p-->
    </div>
  </header>