<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>トップページ</title>
        <link rel="stylesheet" href="style.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    </head>

    <body>
        <%- include('header'); %>
        <main>
            <div class="top-wrapper">
                <div class="container">
                    <h1>フットケアマッサージについて学ぼう.</h1>
                    <h2>Learn about foot care.</h2>
                    <br>
                    <p>このサイトはフットケアマッサージの学習を支援するために作られたものです。</p>
                    <p>初心者にもやさしいスライドと動画で、フットケアマッサージについて学んでいきましょう。</p>
                    <br>
                    <p>また、個人学習だけでなく、研修や講義にも活用できる生配信ページも実装しています。</p>
                    <p>よろしければご活用ください。</p>
                </div>
            </div>
            
            <div class="select-container">
                <div class="block-heading">
                    <h2>学習を始めましょう！</h2>
                </div>
    
                <div class="block-section">
                    <div class="block">
                        <figure><img src="../pics/hajimete.jpg" alt="初めて利用する方へ"></figure>
    
                        <div class="block-text">
                            <h4>初めて利用する方へ</h4>
                            <p>こちらから当サイトの基本的な利用方法をご確認できます。</p>
                        </div>
    
                        <button class="block-btn">詳しくみる</button>
                    </div>
                    
                    <div class="block">
                        <figure><img src="../pics/stady.jpg" alt="個人学習"></figure>
    
                        <div class="block-text">
                            <h4>学習を始める</h4>
                            <p>こちらからフットケアマッサージの学習を始めることができます。</p>
                        </div>
    
                        <button class="block-btn">詳しくみる</button>
                    </div>
    
                    <div class="block">
                        <figure><img src="../pics/stream.jpg" alt="配信" class="imgsize"></figure>
    
                        <div class="block-text">
                            <h4>配信を始める</h4>
                            <p>研修・講義などでオンライン配信を利用したい方はこちらから。</p>
                        </div>
    
                        <button class="block-btn">詳しくみる</button>
                    </div>
                </div>
            </div>
    
        </main>
    </body>
</html>