<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>トップページ</title>
        <link rel="stylesheet" href="style.css">
    </head>

    <body>
        <header>

            <div class="title">
                <h1><a href="https://nyaxi.hiyamugi.com">フットケアマッサージの技術継承システム</a></h1>
                <nav class="title-nav">
                    <ul>
                        <li><a href="#" class="inquiry">お問い合わせ</a></li>
                        <li><a href="#" class="login">ログイン</a></li>
                    </ul>
                </nav>
            </div>

            <div class="navigation">
                <nav class="another-nav">
                    <ul>
                    <li><a href="#">トップ</a><li>
                    <li><a href="#">初めて利用する方へ</a></li>
                    <li><a href="#">一覧ページ</a></li>
                    <li><a href="#">Q&A</a></li>
                    </ul>
                </nav>
            </div>
        </header>

        <input id="input">
        <!--<button id="button" href="https://nyaxi.hiyamugi.com/count.html"></button>-->
        <iframe class="movie" width="560" height="315" src="https://www.youtube.com/embed/Kd6EqH2GKkg?si=ISYD5kqYG7ZmpBNg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        
    </body>
</html>