* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    box-sizing: border-box;
  }

  a{
    text-decoration: none;
  }

  ul {
    list-style: none;
    padding: 0;
  }

  input,
  textarea {
    width: 100%;
    padding: 16px 20px;
    line-height: 1.8;
    border: 1px solid #d5dee8;
    background-color: #FCFCFD;
    border-radius: 4px;
    outline: none;
    font-size: 16px;
    color: #2B546A;
  }

  input:focus,
  textarea:focus {
    border-color: #b6c4d2;
  }
  
  input:hover,
  textarea:hover {
    border-color: #b6c4d2;
    box-shadow: 0px 0px 12px 1px rgba(160, 195, 247, 0.2);
  }

  input[type="submit"] {
    font-size: 18px;
    font-weight: bold;
    color: #ffffff;
    background-color: #4CCFC9;
    height: 54px;
    padding: 0 90px;
    border-radius: 27px;
    width: 60%;
    display: block;
    margin: 80px auto 0;
  }

  input[type="submit"]:hover {
    background-color: #2DC2BC;
    cursor: pointer;
  }

/*ヘッダー*/ 
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f4f4f4;
    padding: 5px 20px;/*ヘッダーの高さ*/
    border-bottom: 1px solid #ccc;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width:100%;/*追加分*/
    opacity: 0.8;
    position:fixed;
    top:0;
    z-index:10;
  }

  .header-left {
    display: flex;
    align-items: center;
    margin-right: 0; /* タイトルとタブの間隔を調整 */
  }
  
  .header-left h1 {
    font-size: 24px;
    margin-right: 20px;
  }

  .header-nav {
    margin-left: 0; /* タイトルとタブの間隔を調整 */
  }
  
  .header-nav ul {
    display: flex;
    list-style-type: none;
  }
  
  .header-nav ul li {
    margin:0 2px;
    border-right: 1px solid #ccc; /* タブ間の区切り線 */
    border-left:1px solid #ccc;
  }
  
  .header-nav ul li a {
    text-decoration: none;
    color: #333;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 15px;
    transition: background-color 0.3s ease, color 0.3s ease;
  }
  
  .header-nav ul li a i {
    font-size: 20px; /* アイコンのサイズ */
    margin-bottom: 5px; /* アイコンとテキストの間に余白 */
  }
  
  .header-nav ul li a:hover {
    background-color: #7d8996;
    color: white;
    border-radius: 5px;
  }
/*アイコンと文字の間隔*/
  .top-head{
    padding-top: 1px;
  }

  .list-head{
    padding-top: 1.5px;
  }

  .new-head{
    padding-top: 1.5px;
  }

  .question-head{
    padding-top: 3px;
  }

  .form-head{
    padding-top: 1px;
  }
/*↑ここまで*/
  .header-right {
    display: flex;
    align-items: center;
  }
  
  .register-btn,.login-btn {
    margin-left: 15px;
    padding: 10px 15px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .register-btn{
    background-color: #0056b3;
  }
  
  .register-btn:hover, .login-btn:hover {
    opacity: 0.7;
  }


/*メイン*/
.top-container{
  width:1170px;
  padding:0 15px;
  margin:0 auto;
}

.top-wrapper{
  padding:280px 0 100px 0;
  background-image:url(../pics/toumei0.7.png),linear-gradient(90deg, rgba(141, 139, 226, 1), rgba(253, 187, 203, 1));
  background-size:cover;
  color:black;
  text-align: center;
}

.top-wrapper h1{
  font-size:45px;
  letter-spacing:5px;
  padding-bottom: 30px;
}

.top-wrapper h2{
  font-size: 35px;
  letter-spacing: 5px;
  padding-bottom: 50px;
}

.top-wrapper p{
  font-size: 15px;
  padding-bottom: 10px;
}

.select-container{
background-image: linear-gradient(90deg, rgba(168, 202, 240, 1), rgba(233, 240, 250, 1));
}

.block-heading{
padding:50px 0 20px 0;
color:#5f5d60;
text-align: center;
}

.block-heading h2{
font-weight: normal;
}

.block-section {
display: flex;
justify-content: space-around;
padding: 40px;
}

.block {
background-color: #f0f0f0;
border-radius: 10px;
text-align: center;
width: 30%;
padding: 20px;
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.block img {
max-width: 100%;
height: 220px;
border-radius: 10px;
}

.block h4 {
font-size: 1.5em;
margin: 20px 0 10px;
}

.block p {
font-size: 1em;
color: #555;
margin-bottom: 20px;
}

.block-btn {
padding: 10px 20px;
background-color: #007bff;
color: white;
border: none;
border-radius: 5px;
cursor: pointer;
}

.block-btn:hover {
background-color: #0056b3;
}


/*ログイン*/
.sign {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  height: 100%;
}

.sign > .container {
  width: 550px;
  padding: 60px 0;
}

.sign > .container > p {
  margin-top: 36px;
  font-weight: bold;
  font-size: 14px;
  text-align: center;
}

.sign .panel {
  padding: 60px 80px 40px;
  background-color: #F6FAFF;
}

.sign h2 {
  text-align: center;
  font-size: 24px;
  padding:10px 0 30px 0;
}

.sign form > p {
  margin-bottom: 10px;
}

.sign input {
  padding: 10px 100px;
}

.sign input:-webkit-autofill {
  box-shadow: 0 0 0px 1000px #fff inset;
}

.sign input[name="username"] {
  margin-bottom: 30px;
}

.sign input[name="email"] {
  margin-bottom: 30px;
}

.sign input[type="submit"] {
  margin-top: 50px;
  width: 90%;
}


/*一覧*/
.list-main {
  background-image:  linear-gradient(90deg, rgba(168, 202, 240, 1), rgba(233, 240, 250, 1));
  position:relative;
  height: 1100px;
  padding: 1rem;
  margin-top: 90px;
}

.tabs {
  display: flex;
  justify-content: center;
  margin: 1.5rem 0;
  padding-top: 10px;
}

.tab-button {
  background: #555;
  color: #fff;
  border: none;
  padding: 0.5rem 1rem;
  margin: 0 1rem;
  cursor: pointer;
}

.tab-button:hover {
  background: #777;
}

.content-section {
  /*position: absolute;
  left: 200px;*/
  margin: auto;
  align-items: center;
  width: 1000px;
  height: 80%;
  padding:10px 20px;
  background-color: #ffffffcf;
}

.content-section h2:not(.slides-list h2, .videos-list h2){
  border-bottom: 2px solid #333;
  padding-bottom: 0.5rem;
  margin-bottom: 1.5rem
}

.slides-list li, .videos-list li {
  margin: 1rem 0 2rem 0;
  display: flex;
  border:1.5px solid #333;
  height: 160px;
}

.slide-information, .video-information{
  padding:0.5rem 1rem ;
}

.content-section a {
  color: #333;
  text-decoration: none;
}

.content-section a:hover {
  text-decoration: underline;
}


/*スライド画面*/
.slide-container {
  position: relative;
  height: 700px;
  padding: 1rem;
  padding-top: 80px;
  background-color: #d3cecee8;
}

.slide-container h2 {
  border-bottom: 2px solid #333;
  padding-top: 1rem;
  padding-bottom: 3px;
  margin-bottom: 1rem;
}

/*スライドの大きさ(16:9にしてる)*/
/*.swiper{
  width: 853px;
  height: 480px;
}下のコードは消してよい*/

.swiper-wrapper {
  width: 100%;
  height: 500px;
}

.swiper-slide {
  color: #ffffff;
  width: 100%;
  height: 100%;
  text-align: center;
  line-height: 500px;
}

.swiper-slide:nth-child(3n + 1) {
  background-color: #de4439;
}

.swiper-slide:nth-child(3n + 2) {
  background-color: #fcd500;
}

.swiper-slide:nth-child(3n + 3) {
  background-color: #53c638;
}


/*動画ページ*/
