* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
  }

/*ヘッダー*/ 
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f4f4f4;
    padding: 10px 20px;
    border-bottom: 1px solid #ccc;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }

  .header-left {
    display: flex;
    align-items: center;
    margin-right: 0; /* タイトルとタブの間隔を調整 */
  }
  
  .header-left h1 {
    font-size: 24px;
    margin-right: 20px;
  }

  .header-nav {
    margin-left: 0; /* タイトルとタブの間隔を調整 */
  }
  
  .header-nav ul {
    display: flex;
    list-style-type: none;
  }
  
  .header-nav ul li {
    margin:0 2px;
    border-right: 1px solid #ccc; /* タブ間の区切り線 */
    border-left:1px solid #ccc;
  }
  
  .header-nav ul li a {
    text-decoration: none;
    color: #333;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 15px;
    transition: background-color 0.3s ease, color 0.3s ease;
  }
  
  .header-nav ul li a i {
    font-size: 20px; /* アイコンのサイズ */
    margin-bottom: 5px; /* アイコンとテキストの間に余白 */
  }
  
  .header-nav ul li a:hover {
    background-color: #7d8996;
    color: white;
    border-radius: 5px;
  }
  
  .header-right {
    display: flex;
    align-items: center;
  }
  
  .register-btn,.login-btn {
    margin-left: 15px;
    padding: 10px 15px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .register-btn{
    background-color: #0056b3;
  }
  
  .register-btn:hover, .login-btn:hover {
    opacity: 0.7;
  }